# Исключаем виртуальное окружение, чтобы не тащить его в контейнер
venv/
ENV/

# Исключаем кэш и мусор
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Исключаем файлы IDE и Git
.vscode/
.idea/
.git/
.gitignore

# Исключаем локальные env файлы
.env